AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=replace_with_iam_user_access_key
AWS_SECRET_ACCESS_KEY=replace_with_iam_user_secret_key
S3_BUCKET_NAME=cc-mp-logs-durvesh-2026
SNS_TOPIC_ARN=arn:aws:sns:ap-south-1:143063372260:cc-mp-alerts

PYTHON_CMD=python
ML_PREDICT_SCRIPT=ml-model/predict.py
MODEL_PATH=ml-model/model/model.pkl
MODEL_S3_BUCKET=cc-mp-logs-durvesh-2026
MODEL_S3_KEY=model/model.pkl

NEXT_PUBLIC_API_BASE=http://localhost:5000/api
